---
interface FeaturedProps {
  title: string;
  subtitle: string;
  posts: Array<{ id: number; title: string; excerpt: string; url: string }>;
  buttonText: string;
}
const { title, subtitle, posts, buttonText } = Astro.props as FeaturedProps;
---

<section class="featured-posts section section-padding">
  <div class="container">
    <div class="section-header">
      <h2>{title}</h2>
      <h3>{subtitle}</h3>
    </div>
    <div class="posts">
      {posts.map((post) => (
        <div class="post">
          <div class="title">{post.title}</div>
          <p class="excerpt">{post.excerpt}</p>
          <button class="red black-border post-nav" style="margin: 0 auto;" data-set-url={post.url}>Read more</button>
        </div>
      ))}
    </div>
    <button class="red">{buttonText}</button>
  </div>
</section>

<script>
   // Find all relevant buttons that navigate to a post
   const buttons = document.querySelectorAll('button.post-nav');

   // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        const url = button.getAttribute("data-set-url") as string;
        window.location.href = `/posts/${url}`;
      });
    });
</script>

<style>
  @import '../assets/css/featuredPosts.css';
</style>
